* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h2 {
  margin: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: rgb(35, 4, 121);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

input {
  width: 250px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  /* border: 1px solid black; */
  border-radius: 6px 0px 0px 6px;
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}

.search-btn {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  /* border: 1px solid black; */
  background-color: rgb(228, 219, 219);
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.search-btn::before {
  content: '';
  display: inline-block;
  background-image: url('https://img.icons8.com/ios-filled/50/000000/search--v1.png');
  width: 20px;
  height: 20px;
  background-size: contain;
}

.search-btn:hover,
.search-btn:focus {
  background-color: rgb(177, 171, 192);
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100px;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: rgb(35, 4, 121);
  color: white;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.load-more:hover,
.load-more:focus {
  background-color: rgb(87, 56, 170);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
  padding-right: 20px;
  padding-left: 20px;
}

.photo-card {
  display: block;
  width: calc((100% - 4 * 20px) / 4);
  margin: 10px;
  border: 1px solid #dad8d8;
  border-radius: 0px 0px 6px 6px;
  max-width: 450px;
  min-width: 300px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

img {
  display: block;
  height: 280px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 8px;
}

.info-item {
  display: flex;
  flex-direction: column;
  color: rgb(35, 4, 121);
}
